.Container{
    width: 100%;
}
.Row{
    display: flex;
    justify-content: center;
    margin: 0px 20px;
    align-items: center;
}
.Col{
    width: 15%;
    height: 207.33px;
    margin: 7px;
    text-align: center;
    background-color: rgba(5, 5, 5, 0.685);
    color: #fff;
    padding-top: 10px;
    transition: transform .2s;
}
.Col:hover{
    transform: scale(1.1);
}
.Temp{
    font-size: 26px;
}
@media only screen and (max-width: 768px){
    .Row{
        display: block;  
    }
    .Col{
        width: 60%;
        margin: 15px auto;
        height: auto;
        padding: 10px 0px;
    }
    .Temp{
        font-size: 50px;
    }
    
} 