.Summary{
    display: flex;
    width: 100%;
    text-align: center;
}
.Todaycard{
    text-align: left;
    width: 48%;
    height: 320px;
    border-radius: 16px;
    padding-top: 10px;
    /* box-shadow:  5px 10px 10px 5px rgb(95, 93, 93); */
    background-color: rgba(228, 223, 217, 0.65);
    margin: 0px 1%;
    display: flex;
}

.Locationdata{
    text-align: left;
}
.Weatherdata{
    text-align: center;
}
.Weatherdata,.Locationdata{
    width: 44%;
    margin: 0px 3%;
}
.Location{
    font-size: 50px;
    margin: 0px;
}
.Country{
    font-size: 35px;
}
span{
    display: block;
}
.Day{
    font-size: 30px;
}
.Temp{
    font-size: 60px;
    display: inline;
}
.Type{
    font-size: 22px;
    display: block;
}
.Time{
    font-size: 20px;
}
.Sup{
    font-size: 40px;
}
.Metric{
    font-size: 60px;
    display: inline;
}
.Weatherdata img{
    padding: 0px 10px;
    height: 160px;
    width: 160px;
    display: block;
    margin: 0px auto;
}
@media only screen and (max-width: 768px) {
    .Summary{
        display: block;
    }
    .Todaycard{
        width: 90%;
        margin: 6px auto;
    }


}
@media only screen and (max-width: 425px) {
    .Todaycard{
        flex-direction: column-reverse;
        height: auto;
    }
    .Locationdata,.Weatherdata{
        text-align: center;
        width: 100%;
        margin: 0px auto;
    }
    .Location{
        font-size: 30px;
        margin: 0px;
    }

}
/* @media only screen and (max-width: 320px){
    .Location{
        font-size: 30px;
        margin: 0px;
    }
    .Type{
        font-size: 22px;
        display: block;
        padding: 10px 0px;
        position: relative;
        bottom: 20px;
        left: 1px;
    }
    .Weatherdata img{
        padding: 0px 10px;
        position: relative;
        top: 10px;
        height: 90px;
        width: 90px;
    }
} */